::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  overflow-y: scroll; 
}
body {
  -webkit-overflow-scrolling: touch;
}
